@charset "utf-8";



#wrap_nav .nav{
  position: absolute;
  top: 70px;
  right: 0;
 
  width: 200px;
  height: 700px;
  margin:none;
  display: flex;
  border-top:1px solid #000;  
  border-bottom: none;
  box-shadow: 6px 6px 2px rgba(0, 0, 0,  0.6);
  background-color: #46444F;
  margin-right: 0;
  z-index: 999; 

}
#wrap_nav .main_menu{
    display: flex;
  flex-direction: column;
  justify-content: right;
  
  height: 700px;
  background-color: #46444F;
  
  margin-right: 0;
  margin-left: 0;
  margin-top:2px
}
#wrap_nav .main_menu > li{
  width: 200px;
  text-align: lefte;
  color: #ccc;
  border-right:none;
  border-left:none;
  margin-top: 5px;
 
}

#wrap_nav .main_menu > li:first-child{
  border-left:none
}


#wrap_nav .main_menu > li > a{
  margin: 20px 0;
  font-size:16px ;
  padding: 0px 0;
}

#wrap_nav .sub_menu {
  display: none;
}
#wrap_nav .sub_menu > li > a{
  display: block;
  margin-bottom: 20px;
  font-size: 13px;
  padding: 5px 0;
 
}  